SendToUrlscanIo.zip
-e 
# Environment files
*.env
*.env.*
.amo-upload-uuid
web-ext-artifacts/b37aed642d824faba8e2-1.2.7.xpi
web-ext-artifacts/b37aed642d824faba8e2-1.2.8.xpi
web-ext-artifacts/security_toolkit-1.2.7.zip
web-ext-artifacts/security_toolkit-1.2.8.zip
